.team
    h4.accent.collapse Enigmas
    h5.accent.collapse (Milton Keynes)
    table
        tbody
            tr
                td Sparrow
                td

            tr 
                td The129
                td

            tr
                td Delstan
                td

            tr 
                td Arx
                td
            
            tr
                td DeeEmmSee
                td

            tr
                td zenzetsu
                td 
