.team
    h4.accent.collapse Hunters
    h5.accent.collapse (Hull)
    table
        tbody
            tr
                td Thrall
                td
                    span.role.tank

            tr 
                td Bonchef
                td
                    span.role.dps

            tr
                td Badger
                td
                    span.role.support
                    span.role.tank

            tr 
                td Ketyatta
                td
                    span.role.support
            
            tr
                td Chazzmancmp
                td
                    span.role.support

            tr
                td Radmello
                td
                    span.role.dps
                    span.role.tank

            tr
                td Excise
                td
                    span.role.dps
