.team
    h4.accent.collapse Lionhearts
    h5.accent.collapse (London Wardour Street)
    table
        tbody
            tr
                td Cozel
                td

            tr 
                td Scrumbs
                td

            tr
                td MrCream
                td

            tr 
                td Sunstorm
                td
            
            tr
                td Gaming Duck
                td

            tr
                td Eddzi
                td 

            tr
                td Feo
                td
