.team
    h4.accent.collapse Pirates
    h5.accent.collapse (Portsmouth)
    table
        tbody
            tr
                td Obz
                td

            tr 
                td Urulu
                td

            tr
                td Spinnaker
                td

            tr 
                td CarryHarry
                td
            
            tr
                td Disclosure
                td

            tr
                td IHave2Thumbs
                td 

            tr
                td Flubber
                td
