.team
    h4.accent.collapse Rams
    h5.accent.collapse (Bradford)
    table
        tbody
            tr
                td Gdayshimada1
                td

            tr 
                td Effy
                td

            tr
                td Dragonlewis12
                td

            tr 
                td Ameizing
                td
            
            tr
                td Spicynoodle
                td

            tr
                td Ionbru
                td 
