div.scrollable
    table.group_table#group-4
        caption
            h4 Group 4
        
        thead
            tr
                td Team
                td Played
                td Won
                td Lost
                td(data-sort-default) Points
        
        tbody
            tr
                td.team Harriers
                td.played 1
                td.won 0
                td.lost 1
                td.points 0
            
            tr
                td.team Saints
                td.played 2
                td.won 1
                td.lost 1
                td.points 1

            tr
                td.team Spartans
                td.played 2
                td.won 2
                td.lost 0
                td.points 2

            tr
                td.team Swarm
                td.played 1
                td.won 1
                td.lost 0
                td.points 1

            tr
                td.team Vikings
                td.played 2
                td.won 0
                td.lost 2
                td.points 0
    script
        | new Tablesort(document.getElementById("group-4"), {
        |    descending: true
        | })                