h4 Knockout Stages
section.bracket
    section.round

        ol.round-1
            li.match
                ol.teams
                    li Hunters
                    li.winner Saints

            li.match
                ol.teams
                    li.winner Steelers
                    li Kesterls

            li.match
                ol.teams
                    li Claymores
                    li.winner Pirates
                
            li.match
                ol.teams
                    li.winner Spartans
                    li Invincibles

    section.round
        ol.round-2
            li.match
                ol.teams
                    li Saints
                    li Steelers

            li.match
                ol.teams
                    li Pirates
                    li Spartans

    section.round
        ol.round-3
            li.match
                ol.teams
                    li TBC
                    li TBC