doctype html
html(lang="en")
    block vars
    head
        meta(charset="utf-8")
        meta(property="og:title", content="Belong Ovewatch Arena Clash Winter 2018 "+ title)
        meta(property="og:url" content="https://www.overwatcharenaclashcommunity.com")
        meta(property="og:description" content="Unofficial Overwatch Arena Clash information & community links")
        
        title Belong Ovewatch Arena Clash Winter 2018 #{title}
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css" integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ" crossorigin="anonymous")

    body
        h1 Overwatch Arena Clash previous seasons
        ul
            each prev in archives
                li
                    h2 
                        a(href=prev.path) #{prev.name}