div.scrollable
    table.group_table#group-1
        caption
            h4 Group 1
        
        thead
            tr
                td Team
                td Played
                td Won
                td Lost
                td(data-sort-default) Points
        
        tbody
            tr
                td.team Armada
                td.played 2
                td.won 1
                td.lost 1
                td.points 1
            
            tr
                td.team Centurions
                td.played 1
                td.won 1
                td.lost 0
                td.points 1

            tr
                td.team Hunters
                td.played 1
                td.won 1
                td.lost 0
                td.points 1

            tr
                td.team Invincibles
                td.played 2
                td.won 1
                td.lost 1
                td.points 1                

            tr
                td.team Nighthawks
                td.played 2
                td.won 0
                td.lost 2
                td.points 0
    script
        | new Tablesort(document.getElementById("group-1"), {
        |    descending: true
        | })