div.scrollable
    table.group_table#group-3
        caption
            h4 Group 3
        
        thead
            tr
                td Team
                td Played
                td Won
                td Lost
                td(data-sort-default) Points
        
        tbody
            tr
                td.team Enigmas
                td.played 2
                td.won 1
                td.lost 1
                td.points 1
            
            tr
                td.team Lionhearts
                td.played 2
                td.won 0
                td.lost 2
                td.points 0

            tr
                td.team Pirates
                td.played 1
                td.won 1
                td.lost 0
                td.points 1

            tr
                td.team Rams
                td.played 1
                td.won 0
                td.lost 1
                td.points 0

            tr
                td.team Steelers
                td.played 2
                td.won 2
                td.lost 0
                td.points 2
    script
        | new Tablesort(document.getElementById("group-3"), {
        |    descending: true
        | })                