extends _layout.pug

block vars
    - var title = "Group Tables (Week #{groups.week})"

block content 
    .tables
        script(src="js/tablesort.min.js")
        script(src="js/sorts/tablesort.number.min.js")

        include _groups.pug