extends _layout.pug

block vars
    - var title = "Home"

block content 
    h1 Belong.gg maintain Up-To-Date tables on #[a(href="https://challonge.com") Challonge]!
    p Use the links below to to find them.
            
    section.challonge-links
        a.massive(href="https://challonge.com/ACSU19OWCMP") Championship
        a.massive(href="https://challonge.com/ACSU19OWCHL") Challenger
