extends _layout.pug

block vars
    - var title = "Team Rosters"

block content 
    .teams
        include teams/enigmas.pug
        include teams/hunters.pug
        include teams/lionhearts.pug
        include teams/pirates.pug
        include teams/rams.pug