extends _layout.pug

block vars
    - var title = "Team Rosters"

block content 
    h1 Championship
    .teams
        each team in teams.teams
            .team
                h4.accent.collapse #{team.name}
                h5.accent.collapse (#{team.location})
                table
                    tbody
                        each player in team.players
                            tr
                                td #{player.name}
                                td
                                    each r in player.roles
                                        span(class="role "+r)