.knockouts {
    width: 100%;
    text-align: center;

    .bracket {
        display: flex;
        float: left;
        margin: $gutter;
        width: 100%;
        flex-direction: row;

        .rounds {
            width: 66%;
            display: flex;
            align-self: center;
            justify-content: space-between;

            .round {
                display: flex;
                flex-direction: column;
                justify-content: center;
                float: left;

                .title {
                    display: flex;
                    justify-self: flex-start;
                }

                ol {
                    display: block;
                    float: left;
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                
                    &.teams {
                        margin: $gutter;

                        li { 
                        
                            padding-left: $gutter;
                            margin-bottom: $gutter;

                            &.winner {
                                border-left: solid $gutter $color-secondary;
                            }

                            &:not(.winner) {
                                border-left: solid $gutter $color-background;
                            }
                        }
                    }
                }
            }
        }
    
        .winner-announcement {
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
