.scrollable {
    overflow-x: auto;
}

table.table {
    border: 0;
    color: $color-text;
    font-size: $base-font-size;
    padding: $gutter;

    td {
        padding: $gutter;
    }

    caption {
        background-color: $color-secondary;
        width: 100%;
        font-weight: bold;
        color: $color-secondary-text;

        padding: $gutter/2;
    }

    thead {
        td {
            color: $color-accent
        }
    }

    tbody {
        td {
            color: $color-secondary;
        }

        td.team {
            color: $color-text;
        }
    }
}
