.teams {
    color: $color-text;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: $gutter;
    clear: both;

    .team {
        flex-grow: 1;
        margin: $gutter;
        padding: $gutter;

        .team-name {
            color: $color-secondary-text;
            background: $color-secondary;

            padding: $gutter/2;

            span {
                display: block;
                clear: both;

                &.name {
                    font-weight: bold;
                    font-size: 1.5em;
                }
            }
        }
        
        .leagues {
            margin-top: $gutter;
            display: flex;
            justify-content: space-around;
            .league {
                span.league-name {
                    display: block;

                    background-color: $color-accent;
                    color: $color-secondary-text;
                    padding: $gutter/2;
                }
            }
        }
    }
}
