h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-text;
    text-transform: capitalize;

    &.accent {
        color: $color-accent;
        text-shadow: none;
    }

    &.collapse {
        margin: 0.2em;
    }
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

em { color: $color-accent;}

a {
    color: $color-accent;

    &.accent {
        color: $color-accent;
    }

    &:hover {
        text-decoration: none;
    }

    &:visited {
        color: inherit;
    }

    &.massive {
        font-size: 200%;

        background-color: $color-secondary;
        color: $color-secondary-text;

        padding: $gutter*2;
        margin: $gutter/2;
    }
}

strong {
    color: $color-text;
    font-weight: bold;
}
